<tui-input
  [formControl]="searchQuery"
  tuiTextfieldSize="s"
  tuiTextfieldIconLeft="@tui.search"
  [tuiTextfieldCleaner]="true"
>
  Search for YouTube track
  <input tuiTextfieldLegacy />

  <tui-data-list *tuiDataList>
    @if (loading) {
      <div class="loader-thin mx-auto my-1"></div>
    }
    <button
      *ngFor="let result of searchResults"
      tuiOption
      [value]="result.toString()"
      (click)="emitAddTrack(result)"
    >
      <div class="flex gap-3">
        <div
          class="flex-shrink-0 self-start w-[40px] h-[40px] object-cover rounded-lg overflow-hidden"
        >
          <div class="stretchy-wrapper">
            <div>
              <img [src]="result.thumbnail" />
            </div>
          </div>
        </div>
        <p class="text-sm">{{ result.title }}</p>
      </div>
    </button>
  </tui-data-list>
</tui-input>
