@if (isOpened) {
  <ng-template
    let-observer
    let-track="data"
    [tuiSheetDialogOptions]="options"
    [(tuiSheetDialog)]="isOpened"
    (tuiSheetDialogChange)="dialogClosed()"
  >
    @if (!isConfirmationMode) {
      <div class="mb-[36px]">
        <a
          [href]="track.ytLink"
          target="_blank"
          appearance="neutral"
          size="s"
          tuiButton
          class="mb-2 w-full"
        >
          Open in YouTube
        </a>

        <button
          *ngIf="store.mode() === ViewModeEnum.CREATION"
          appearance="destructive"
          size="s"
          tuiButton
          class="w-full"
          (click)="isConfirmationMode = true"
        >
          Remove
        </button>
      </div>
    }

    @if (isConfirmationMode) {
      <p class="mt-1 text-center text-sm">
        Are you sure you want to delete this track from the playlist?
      </p>
      <div class="mb-[36px] mt-4 flex gap-2">
        <button
          size="s"
          tuiButton
          appearance="destructive"
          class="grow"
          (click)="store.removeTrack(track.id); observer.complete()"
        >
          Remove
        </button>
        <button
          size="s"
          tuiButton
          appearance="neutral"
          class="grow"
          (click)="isConfirmationMode = false"
        >
          Cancel
        </button>
      </div>
    }
  </ng-template>
}

<ng-template #labelRef [polymorpheus]="options" let-track="data">
  <div class="border-b border-b-primary">
    <div class="flex gap-3">
      <div
        class="h-[40px] w-[40px] flex-shrink-0 self-start overflow-hidden rounded-lg object-cover"
      >
        <div class="stretchy-wrapper">
          <div>
            <img [src]="track?.thumbnail" />
          </div>
        </div>
      </div>
      <p id="original-title" class="line-clamp-2 self-start text-sm">
        {{ track?.title }}
      </p>
    </div>
    <app-textarea-edit-inline
      [entryValue]="track.customTitle"
      (valueChangedEmitter)="store.updateTrack(track.id, $event)"
    />
  </div>
</ng-template>
