@if (isOpened) {
  <ng-template
    let-observer
    let-data="data"
    [tuiSheetDialogOptions]="options"
    [(tuiSheetDialog)]="isOpened"
  >
    <div class="mb-[36px] mt-4 flex gap-2">
      <button
        size="s"
        tuiButton
        class="grow"
        appearance="secondary-destructive"
        (click)="confirmAction(); observer.complete()"
      >
        {{ options.data?.confirmBtnLabel }}
      </button>

      <button
        size="s"
        tuiButton
        class="grow"
        appearance="neutral"
        (click)="observer.complete()"
      >
        Cancel
      </button>
    </div>
  </ng-template>
}
