<div class="pt-4">
  <app-track-list />
  <div class="flex gap-2 mb-2 mt-4">
    @if (isCreatorOfCurrentPlaylist) {
      <button
        size="s"
        tuiButton
        appearance="outline-grayscale"
        class="grow"
        routerLink="/"
      >
        {{
          isCreatorOfCurrentPlaylist
            ? "back to creation"
            : "create your own playlist"
        }}
      </button>
    }
    @if (store.tracks().length) {
      <button
        size="s"
        tuiButton
        appearance="outline-grayscale"
        class="grow"
        (click)="openConfirmDialog()"
      >
        reveal
      </button>
    }
  </div>
</div>
