<ng-template [(tuiSheetDialog)]="isOpened">
  <div class="mb-8">
    <p class="font-lighter text-right text-xs">
      <span class="text-gray-lighter">Your username: </span>
      {{ streamingStore.currentUserName() }}
    </p>
    @if (!streamingStore.otherUsers()) {
      <p class="italic">No other users available</p>
    }
    @if (streamingStore.otherUsers()) {
      <p>Available users:</p>
      @for (user of streamingStore.otherUsers(); track user.id) {
        <div>{{ user.name }}</div>
      }
    }

    <button size="s" tuiButton class="w-full" disabled>Connect</button>
  </div>
</ng-template>
