<ng-template [(tuiSheetDialog)]="isOpened">
  <div class="mb-8">
    <p class="font-lighter text-right text-xs">
      <span class="text-gray-lighter">You: </span>
      {{ streamingStore.currentUserName() }}
    </p>
    @if (streamingStore.otherUsers().length) {
      <h2 class="text-lg font-normal tracking-wider text-primary">
        Connected users:
      </h2>
      <div class="flex flex-wrap gap-1 py-3">
        @for (user of streamingStore.otherUsers(); track user.id) {
          <div
            tuiStatus="var(--tui-status-positive)"
            class="rounded-3xl bg-gray-light px-2 py-1 text-right text-sm font-thin"
          >
            {{ user.name }}
          </div>
        }
      </div>
    }
    @if (!streamingStore.otherUsers().length) {
      <p class="pb-6 pt-7 text-center text-sm italic text-gray-lighter">
        No other users available
      </p>
    }
  </div>
</ng-template>
