<li
  cdkDrag
  class="rounded-lg bg-gray-darker py-2 pl-2 text-sm hover:bg-gray"
  [class.no-user-select]="store.isMobile()"
  [cdkDragDisabled]="!isMode(viewModeEnum.CREATION)"
  (cdkDragStarted)="toggleDragging(true)"
  [cdkDragStartDelay]="store.isMobile() ? 1000 : 0"
  (contextmenu)="disableDefaultContextMenu($event)"
  (tuiHoveredChange)="onDesktopHovered($event)"
  (click)="onMobileClicked()"
>
  <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
  <div class="flex gap-1.5">
    @if (isMode(viewModeEnum.CREATION) && !store.isMobile()) {
      <button
        cdkDragHandle
        class="-ml-1.5 h-[37.5px] shrink-0 self-start text-center font-bold tracking-widest text-primary outline-none"
        [class.invisible]="hoveredId !== track.id"
        [class.visible]="hoveredId === track.id"
      >
        <img
          src="../../../../assets/icons/icons8-drag-reorder-24.png"
          width="16"
          height="16"
        />
      </button>
    }
    <div class="flex w-full gap-3">
      <div class="flex h-[37.5px] w-3 shrink-0 items-center self-start">
        @if (
          hoveredId === track.id &&
          (!player.isPlaying() ||
            (player.isPlaying() && player.selectedTrack()?.id !== track.id))
        ) {
          <tui-icon
            icon="@tui.play-filled"
            class="hover:cursor-pointer"
            [style.height.px]="16"
            [style.width.px]="16"
            [class.text-primary]="player.selectedTrack()?.id === track.id"
            (click)="selectTrack(true)"
          />
        }
        @if (
          hoveredId === track.id &&
          player.isPlaying() &&
          player.selectedTrack()?.id === track.id
        ) {
          <tui-icon
            icon="@tui.pause-filled"
            class="text-primary hover:cursor-pointer"
            [style.height.px]="18"
            [style.width.px]="18"
            (click)="selectTrack(false)"
          />
        }
        @if (
          hoveredId !== track.id &&
          (player.selectedTrack()?.id !== track.id ||
            (player.selectedTrack()?.id === track.id && !player.isPlaying()))
        ) {
          <p [class.text-primary]="player.selectedTrack()?.id === track.id">
            {{ orderId + 1 }}.
          </p>
        }
        @if (player.selectedTrack()?.id === track.id && player.isPlaying()) {
          <div class="track-playing"></div>
        }
      </div>
      @if (track.thumbnail && !isMode(viewModeEnum.ENCODED)) {
        <div
          class="h-[40px] w-[40px] flex-shrink-0 self-start overflow-hidden rounded-lg object-cover"
        >
          <div class="stretchy-wrapper">
            <div>
              <img [src]="track.thumbnail" />
            </div>
          </div>
        </div>
      }
      @if (isMode(viewModeEnum.ENCODED)) {
        <div
          class="h-[40px] w-[40px] flex-shrink-0 self-start rounded-lg"
          [class.bg-gray-light]="player.selectedTrack()?.id !== track.id"
          [class.bg-primary]="player.selectedTrack()?.id === track.id"
        ></div>
      }
      <div
        class="grow rounded-lg"
        [class.max-w-[252px]]="!store.isMobile()"
        [class.max-w-[264px]]="store.isMobile()"
        [class.bg-gray-light]="
          isMode(viewModeEnum.ENCODED) &&
          !track.customTitle &&
          player.selectedTrack()?.id !== track.id
        "
        [class.bg-primary]="
          isMode(viewModeEnum.ENCODED) &&
          !track.customTitle &&
          player.selectedTrack()?.id === track.id
        "
      >
        @if (!isMode(viewModeEnum.ENCODED)) {
          <div class="flex items-start justify-between">
            <h3
              tuiFade
              class="text-nowrap"
              [class.text-primary]="player.selectedTrack()?.id === track.id"
            >
              {{ track.title }}
            </h3>
            <button
              appearance="action-grayscale"
              iconStart="@tui.ellipsis-vertical"
              size="xs"
              tuiIconButton
              [style.border-radius.%]="100"
              (click)="openTrackContextMenuDialog($event)"
            ></button>
          </div>
        }

        <p
          tuiFade
          class="max-w-[332px] text-xs"
          [class.text-nowrap]="!isMode(viewModeEnum.ENCODED)"
          [class.text-justify]="isMode(viewModeEnum.ENCODED)"
          [class.text-gray-lighter]="
            !isMode(viewModeEnum.ENCODED) ||
            (isMode(viewModeEnum.ENCODED) &&
              player.selectedTrack()?.id !== track.id)
          "
          [class.text-primary]="
            isMode(viewModeEnum.ENCODED) &&
            player.selectedTrack()?.id === track.id
          "
        >
          {{ track.customTitle }}
        </p>
      </div>
    </div>
  </div>
</li>
