<li
  cdkDrag
  class="py-2 pl-2 rounded-lg text-sm bg-[#222]"
  [cdkDragDisabled]="!isMode(viewModeEnum.CREATION)"
  (cdkDragStarted)="toggleDragging(true)"
>
  <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
  <div
    class="flex gap-3"
    (tuiHoveredChange)="onDesktopHovered($event)"
    (click)="onMobileClicked()"
  >
    @if (isMode(viewModeEnum.CREATION) && !store.isMobile()) {
      <button
        cdkDragHandle
        class="shrink-0 self-start h-[37.5px] text-center text-green-500 font-bold tracking-widest outline-none -ml-1.5"
        [class.invisible]="hoveredId !== track.id"
        [class.visible]="hoveredId === track.id"
      >
        <img
          src="../../../../assets/icons/icons8-drag-reorder-24.png"
          width="16"
          height="16"
        />
      </button>
    }
    <div class="flex gap-3 w-full">
      <div class="self-start h-[37.5px] flex items-center shrink-0 w-4">
        @if (
          hoveredId === track.id &&
          (!player.isPlaying() ||
            (player.isPlaying() && player.selectedTrack()?.id !== track.id))
        ) {
          <tui-icon
            icon="@tui.play-filled"
            class="hover:cursor-pointer"
            [style.height.px]="16"
            [style.width.px]="16"
            [class.text-green-500]="player.selectedTrack()?.id === track.id"
            (click)="player.selectTrack(track)"
          />
        }
        @if (
          hoveredId !== track.id &&
          (player.selectedTrack()?.id !== track.id ||
            (player.selectedTrack()?.id === track.id && !player.isPlaying()))
        ) {
          <p [class.text-green-500]="player.selectedTrack()?.id === track.id">
            {{ orderId + 1 }}.
          </p>
        }
        @if (player.selectedTrack()?.id === track.id && player.isPlaying()) {
          <div class="track-playing"></div>
        }
      </div>
      @if (track.thumbnail && !isMode(viewModeEnum.ENCODED)) {
        <div
          class="block flex-shrink-0 self-start w-[40px] h-[40px] object-cover rounded-lg overflow-hidden"
        >
          <div class="stretchy-wrapper">
            <div>
              <img [src]="track.thumbnail" />
            </div>
          </div>
        </div>
      }
      <div
        class="grow"
        [class.max-w-[252px]]="!store.isMobile()"
        [class.max-w-[264px]]="store.isMobile()"
      >
        @if (!isMode(viewModeEnum.ENCODED)) {
          <div class="flex justify-between items-start">
            <h3
              tuiFade
              class="text-nowrap"
              [class.text-green-500]="player.selectedTrack()?.id === track.id"
            >
              {{ track.title }}
            </h3>
            <button
              appearance="action-grayscale"
              iconStart="@tui.ellipsis-vertical"
              size="xs"
              tuiIconButton
              [style.border-radius.%]="100"
              (click)="openTrackContextMenuDialog($event)"
            ></button>
          </div>
        }

        <p tuiFade class="text-xs text-nowrap text-neutral-400 max-w-[332px]">
          {{ track.customTitle }}
        </p>
      </div>
    </div>
  </div>
</li>
