@if (store.tracks().length) {
  <div cdkDropListGroup>
    <ul
      cdkDropList
      class="pt-2 text-white text-sm gap-2 flex flex-col"
      [cdkDropListData]="store.tracks()"
      (cdkDropListDropped)="drop($event)"
    >
      @for (track of store.tracks(); track track.id; let i = $index) {
        <app-track-list-item [track]="track" [orderId]="i" />
      }
      @if (store.isAddingTrackLoading()) {
        <li class="rounded-lg h-[40px] w-full" [tuiSkeleton]="true"></li>
      }
    </ul>
  </div>
}

@if (!store.tracks().length && store.isLoading()) {
  <div class="grow flex items-center justify-center mt-8">
    <div class="loader-thin"></div>
  </div>
}

@if (!store.tracks().length && !store.isLoading()) {
  <p class="text-center italic pt-24 pb-20">
    {{
      isMode(viewModeEnum.CREATION)
        ? "No tracks added yet"
        : "Playlist doesn't exist"
    }}
  </p>
}

<app-player *appAttachTo="'playerContainer'" />

<app-track-context-menu-dialog />
