<!--SEARCH BAR AUTOCOMPLETE-->
<div
  class="top-[118px] bg-neutral-700/[0.8] fixed min-h-full flex justify-center w-[calc(100vw-12px)] mx-auto left-0 right-0"
>
  <div
    class="mx-auto max-w-[500px] w-full mt-2 bg-neutral-700 ring-2 ring-green-500 text-white text-sm min-h-[76px] max-h-64 px-2 overflow-y-scroll"
  >
    @if (loading) {
      <div class="flex items-center justify-center h-[74px]">
        <div class="loader"></div>
      </div>
    }
    <ul>
      <!--ITEM IN AUTOCOMPLETE-->
      @for (track of searchResults; track track.ytId) {
        <li
          class="flex last-of-type:border-0 border-b border-green-500 py-2 gap-2 hover:bg-neutral-500"
          (click)="addTrackToPlaylist(track)"
        >
          <img [src]="track.thumbnails?.default?.url" alt="" width="80" />
          <div>
            <h2>{{ track.title }}</h2>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
