<div class="fixed bottom-0 left-0 right-0 mt-24">
  <div class="tui-player">
    <audio
      #audio
      [src]="playerState.selectedTrack()?.audio"
      tuiMedia
      [(currentTime)]="currentTime"
      [paused]="!playerState.isPlaying()"
      (pause)="playerState.setIsPlaying(false)"
      (play)="playerState.setIsPlaying(true)"
    ></audio>
    <div class="flex items-center">
      <input
        tuiSlider
        step="any"
        type="range"
        class="slider"
        [max]="audio.duration"
        [(ngModel)]="currentTime"
      />
    </div>
    <button
      tuiIconButton
      size="m"
      appearance="secondary"
      [iconStart]="this.playerState.isPlaying() ? '@tui.pause' : '@tui.play'"
      [style.border-radius.%]="100"
      (click)="toggleState()"
    ></button>
  </div>
</div>
