<div class="pt-4 flex-grow flex flex-col">
  <app-track-list/>
  <div class="flex gap-2 mt-auto">
    @if (isCreatorOfCurrentPlaylist) {
      <button
        class="text-center font-bold text-green-500 tracking-widest ring-2 ring-green-500 outline-none active:bg-green-500 active:text-neutral-700 focus:ring-4 focus:ring-green-500 hover:ring-4 hover:ring-green-500 w-full p-2 mb-2"
        routerLink="/"
      >
        back to creation
      </button>
    }
    @if (store.tracks().length) {
      <button
        class="text-center font-bold text-green-500 tracking-widest ring-2 ring-green-500 outline-none active:bg-green-500 active:text-neutral-700 focus:ring-4 focus:ring-green-500 hover:ring-4 hover:ring-green-500 w-full p-2 mb-2"
        (click)="openConfirmationDialog()"
      >
        reveal
      </button>
    } @else {
      <button
        class="text-center font-bold text-green-500 tracking-widest ring-2 ring-green-500 outline-none active:bg-green-500 active:text-neutral-700 focus:ring-4 focus:ring-green-500 hover:ring-4 hover:ring-green-500 w-full p-2 mb-2"
        routerLink="/"
      >
        create your own playlist
      </button>
    }
  </div>
  @if (isConfirmationDialogOpened) {
    <app-dialog (emitDialogClicked)="handleDialogClick($event)" />
  }
</div>
