<div class="pt-4 flex-grow flex flex-col">
  <app-track-list />
  <div class="flex gap-2 mt-auto">
    @if (isCreatorOfCurrentPlaylist) {
      <app-button
        routerLink="/"
        [message]="
          isCreatorOfCurrentPlaylist
            ? 'back to creation'
            : 'create your own playlist'
        "
        [isLink]="true"
      ></app-button>
    }
    @if (store.tracks().length) {
      <app-button
        message="reveal"
        (click)="openConfirmationDialog()"
      ></app-button>
    }
  </div>
  @if (isConfirmationDialogOpened) {
    <app-dialog (emitDialogClicked)="handleDialogClick($event)" />
  }
</div>
