<tui-root tuiTheme="dark">
  <div class="mx-auto max-w-[375px]">
    <div [style.height.rem]="scale"></div>
    <h1
      class="sticky top-0 z-30 border-primary bg-gray-darker text-center text-xl font-semibold tracking-widest text-primary"
      [style.font-size.rem]="scale"
      [class.border-b]="scale < 0.8"
      (tuiElasticSticky)="onElastic($event)"
    >
      deafdate
    </h1>
    <main
      class="mt-4 flex flex-col p-2"
      style="min-height: calc(100vh - (61px + 40px))"
    >
      <router-outlet></router-outlet>
    </main>
    @if (streamingStore.roomId()) {
      <div
        class="absolute right-0 top-0 m-1 flex h-8 w-8 items-center justify-center rounded-full text-2xl font-bold text-white"
        [class.bg-gray-light]="!streamingStore.otherUsers().length"
        [class.bg-primary]="streamingStore.otherUsers().length"
        [class.text-gray-light]="streamingStore.otherUsers().length"
        (click)="openStreamingDialog()"
      >
        <tui-icon icon="@tui.radio" class="hover:cursor-pointer" />
      </div>
    }
  </div>
</tui-root>
<app-confirm-dialog />
<app-streaming-dialog />
<ng-container appTarget="playerContainer" />
<div class="h-[40px]"></div>
