@if (store.tracks().length) {
  @if (isMode(viewModeEnum.CREATION)) {
    <div class="flex gap-2 items-center pt-8">
      <h2 class="text-lg font-semibold text-green-500 tracking-wider">
        Your current playlist
      </h2>
      <button
        appearance="action-grayscale"
        iconStart="@tui.trash-2"
        size="s"
        tuiIconButton
        [style.border-radius.%]="100"
        (click)="openConfirmDialog()"
      ></button>
    </div>
  }
  <div cdkDropListGroup>
    <ul
      cdkDropList
      class="pt-2 text-white text-sm gap-2 flex flex-col"
      [cdkDropListData]="store.tracks()"
      [class.mt-8]="!isMode(viewModeEnum.CREATION)"
      (cdkDropListDropped)="drop($event)"
    >
      @for (track of store.tracks(); track track.id; let i = $index) {
        <li
          cdkDrag
          class="p-2 rounded-lg text-sm"
          [cdkDragDisabled]="!isMode(viewModeEnum.CREATION)"
          (cdkDragStarted)="toggleDragging(true)"
        >
          <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="flex gap-3">
            @if (isMode(viewModeEnum.CREATION)) {
              <button
                cdkDragHandle
                class="shrink-0 self-start h-[37.5px] text-center text-green-500 font-bold tracking-widest outline-none -ml-1.5"
              >
                <img
                  src="assets/icons/icons8-drag-reorder-24.png"
                  width="16"
                  height="16"
                />
              </button>
            }
            <div
              class="flex gap-3 w-full"
              (tuiHoveredChange)="onHovered($event, track)"
            >
              <div class="self-start h-[37.5px] flex items-center ml-2 w-6">
                @if (
                  hoveredId === track.id && selectedToPlayTrackId !== track.id
                ) {
                  <tui-icon
                    icon="@tui.play-filled"
                    class="hover:cursor-pointer"
                    [style.height.px]="16"
                    [style.width.px]="16"
                    [style.color]="'var(--tui-text-primary)'"
                    (click)="selectTrack(track)"
                  />
                }
                @if (
                  hoveredId !== track.id && selectedToPlayTrackId !== track.id
                ) {
                  <p>{{ i + 1 }}.</p>
                }
                @if (selectedToPlayTrackId === track.id) {
                  <div class="track-playing"></div>
                }
              </div>
              @if (track.thumbnail && !isMode(viewModeEnum.ENCODED)) {
                <a
                  [href]="track.ytLink"
                  target="_blank"
                  class="block flex-shrink-0 self-start w-[40px] h-[40px] object-cover rounded-lg overflow-hidden"
                >
                  <div class="stretchy-wrapper">
                    <div>
                      <img [src]="track.thumbnail" />
                    </div>
                  </div>
                </a>
              }
              <div class="w-full">
                @if (!isMode(viewModeEnum.ENCODED)) {
                  <div class="flex justify-between items-start">
                    <h3>{{ track.title }}</h3>
                    <button
                      appearance="action-grayscale"
                      iconStart="@tui.ellipsis-vertical"
                      size="xs"
                      tuiIconButton
                      [style.border-radius.%]="100"
                    ></button>
                  </div>
                }
                @if (
                  track.customTitle &&
                  (isMode(viewModeEnum.ENCODED) ||
                    (isMode(viewModeEnum.CREATION) &&
                      expandedTrackId !== track.id))
                ) {
                  <div
                    [class.italic]="isMode(viewModeEnum.DECODED)"
                    [class.text-neutral-300]="isMode(viewModeEnum.DECODED)"
                    [class.border-t]="!isMode(viewModeEnum.ENCODED)"
                    [class.pt-2]="!isMode(viewModeEnum.ENCODED)"
                    [class.mt-2]="!isMode(viewModeEnum.ENCODED)"
                    [class.border-orange-500]="isMode(viewModeEnum.DECODED)"
                    [class.border-green-500]="!isMode(viewModeEnum.DECODED)"
                    class="text-xs flex justify-between items-center"
                  >
                    <p>{{ track.customTitle }}</p>
                  </div>
                }
              </div>
            </div>
          </div>
          @if (
            expanded &&
            track.id === expandedTrackId &&
            isMode(viewModeEnum.CREATION)
          ) {
            <app-custom-description-input
              [initialValue]="track.customTitle"
              [trackId]="track.id"
              (customTitleUpdated)="updateCustomTitle($event)"
            />
          }
        </li>
      }
    </ul>
  </div>
} @else {
  @if (store.isLoading()) {
    <div class="grow flex items-center justify-center">
      <div class="grow justify-center flex">
        <div class="loader"></div>
      </div>
    </div>
  } @else if (isMode(viewModeEnum.CREATION)) {
    <p class="text-center italic pt-24 pb-20">No tracks added yet</p>
  } @else {
    <p class="text-center italic pt-24 pb-20">Playlist doesn't exist</p>
  }
}
<p
  class="text-center tracking-widest p-4"
  [class.text-orange-500]="isMode(viewModeEnum.DECODED)"
  [class.text-green-500]="!isMode(viewModeEnum.DECODED)"
>
  .. ... .. ...
</p>

@if (selectedToPlayTrackId) {
  <app-player
    [trackId]="selectedToPlayTrackId"
    [trackSrc]="selectedTrackSrc"
    (pause)="handleOnPause($event)"
    (play)="handleOnPlay($event)"
  />
}

<ng-template #trackSheetLabel [polymorpheus]="options" let-track="data">
  <div class="flex gap-3 border-b-emerald-800 border-b pb-4 mb-4">
    <div
      class="flex-shrink-0 self-start w-[40px] h-[40px] object-cover rounded-lg overflow-hidden"
    >
      <div class="stretchy-wrapper">
        <div>
          <img [src]="track?.thumbnail" />
        </div>
      </div>
    </div>
    <p class="text-sm">{{ track?.title }}</p>
  </div>
</ng-template>

<ng-template #sheetContent>
  @if (!areYouSure) {
    <button appearance="secondary" size="s" tuiButton class="w-full mb-2">
      {{
        store.tracks()[0].customTitle ? "Edit Custom Title" : "Add Custom Title"
      }}
    </button>

    <button
      appearance="secondary-destructive"
      size="s"
      tuiButton
      class="w-full"
    >
      Remove
    </button>
  }
</ng-template>

<ng-template #areYouSureRef>
  <p class="text-center text-sm mt-5">
    {{
      store.tracks()[0]
        ? "Are you sure you want to delete this track from the playlist?"
        : "Are you sure you want to delete this playlist?"
    }}
  </p>
  <div class="flex gap-2 mt-4">
    <button size="s" tuiButton appearance="outline-destructive" class="grow">
      Remove
    </button>
    <button
      size="s"
      tuiButton
      appearance="outline-grayscale"
      class="grow"
      (click)="areYouSure = false"
    >
      Cancel
    </button>
  </div>
</ng-template>
