@if (store.tracks().length) {
  @if (isMode(viewModeEnum.CREATION)) {
    <div class="flex gap-2 justify-between items-center pt-8">
      <h2 class="text-lg font-semibold text-green-500 tracking-widest">
        Your current playlist
      </h2>
      <app-button
        icon="remove-48"
        (click)="openConfirmationDialog()"
      ></app-button>
    </div>
  }
  <div cdkDropListGroup>
    <ul
      cdkDropList
      class="pt-2 text-white text-sm gap-2 flex flex-col"
      [cdkDropListData]="store.tracks()"
      [class.mt-8]="!isMode(viewModeEnum.CREATION)"
      (cdkDropListDropped)="drop($event)"
    >
      @for (track of store.tracks(); track track.id; let i = $index) {
        <li
          cdkDrag
          class="p-2 bg-neutral-600 text-sm"
          [cdkDragDisabled]="!isMode(viewModeEnum.CREATION)"
          (cdkDragStarted)="toggleDragging(true)"
        >
          <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="flex gap-2">
            @if (isMode(viewModeEnum.CREATION)) {
              <button
                cdkDragHandle
                class="shrink-0 self-start h-[37.5px] text-center text-green-500 font-bold tracking-widest outline-none -ml-1.5"
              >
                <img
                  src="assets/icons/icons8-drag-reorder-24.png"
                  width="16"
                  height="16"
                />
              </button>
            }
            <div class="self-start h-[37.5px] flex items-center">
              <p>{{ i + 1 }}.</p>
            </div>
            @if (track.thumbnail && !isMode(viewModeEnum.ENCODED)) {
              <a
                [href]="track.ytLink"
                target="_blank"
                class="block flex-shrink-0 self-start"
              >
                <img [src]="track.thumbnail" alt="" width="50" height="40" />
              </a>
            }
            <div class="w-full">
              @if (!isMode(viewModeEnum.ENCODED)) {
                <div class="flex justify-between items-start">
                  <h3>{{ track.title }}</h3>
                  <app-button
                    size="small"
                    class="ml-2"
                    [color]="isMode(viewModeEnum.DECODED) ? 'orange' : 'green'"
                    [icon]="
                      isMode(viewModeEnum.CREATION)
                        ? 'edit-24'
                        : isMode(viewModeEnum.DECODED)
                          ? 'play-24-orange'
                          : 'play-24'
                    "
                    [class.bg-neutral-700]="
                      expanded && expandedTrackId === track.id
                    "
                    (click)="toggleExpanded(track.id)"
                  ></app-button>
                </div>
                <p>
                  {{ track.channelTitle }}
                </p>
              }
              @if (
                track.customTitle &&
                (isMode(viewModeEnum.ENCODED) ||
                  (isMode(viewModeEnum.CREATION) &&
                    expandedTrackId !== track.id))
              ) {
                <div
                  [class.italic]="isMode(viewModeEnum.DECODED)"
                  [class.text-neutral-300]="isMode(viewModeEnum.DECODED)"
                  [class.border-t]="!isMode(viewModeEnum.ENCODED)"
                  [class.pt-2]="!isMode(viewModeEnum.ENCODED)"
                  [class.mt-2]="!isMode(viewModeEnum.ENCODED)"
                  [class.border-orange-500]="isMode(viewModeEnum.DECODED)"
                  [class.border-green-500]="!isMode(viewModeEnum.DECODED)"
                  class="text-xs flex justify-between items-center"
                >
                  <p>{{ track.customTitle }}</p>
                  @if (isMode(viewModeEnum.ENCODED)) {
                    <app-button
                      class="ml-2 justify-self-end"
                      size="small"
                      icon="play-24"
                      [class.bg-neutral-700]="
                        expanded && expandedTrackId === track.id
                      "
                      (click)="toggleExpanded(track.id)"
                    ></app-button>
                  }
                </div>
              }
            </div>
          </div>
          @if (
            expanded &&
            track.id === expandedTrackId &&
            isMode(viewModeEnum.CREATION)
          ) {
            <app-custom-description-input
              [initialValue]="track.customTitle"
              [trackId]="track.id"
              (customTitleUpdated)="updateCustomTitle($event)"
            />
          }

          @if (
            expanded &&
            track.id === expandedTrackId &&
            !isMode(viewModeEnum.CREATION)
          ) {
            <audio
              controls
              class="mt-2 mx-auto"
              autoplay
              controlslist="nofullscreen nodownload noremoteplayback noplaybackrate"
            >
              <source [src]="track.audio" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          }
        </li>
      }
    </ul>
    <div
      class="fixed bottom-0 h-16 flex justify-center w-[calc(100vw-12px)] mx-auto left-0 right-0"
      [class.invisible]="!dragging"
      [class.visible]="dragging"
    >
      <div
        cdkDropList
        class="flex items-center justify-center font-bold bg-caution-tape mx-auto max-w-[500px] w-full border-red-400 border-2 h-full"
        [cdkDropListData]="[]"
        (cdkDropListDropped)="openConfirmationDialog($event)"
      >
        <p class="py-0.5 bg-red-400 w-full text-center">remove</p>
      </div>
    </div>
  </div>
} @else {
  @if (store.isLoading()) {
    <div class="grow flex items-center justify-center">
      <div class="grow justify-center flex">
        <div class="loader"></div>
      </div>
    </div>
  } @else if (isMode(viewModeEnum.CREATION)) {
    <p class="text-center italic pt-24 pb-20">No tracks added yet</p>
  } @else {
    <p class="text-center italic pt-24 pb-20">Playlist doesn't exist</p>
  }
}
<p
  class="text-center tracking-widest p-4"
  [class.text-orange-500]="isMode(viewModeEnum.DECODED)"
  [class.text-green-500]="!isMode(viewModeEnum.DECODED)"
>
  .. ... .. ...
</p>

@if (isConfirmationDialogOpened) {
  <app-dialog
    (emitDialogClicked)="removePlaylistOrTrack($event)"
    [message]="
      selectedTrackId
        ? 'Are you sure you want to delete this track?'
        : 'Are you sure you want to delete current playlist?'
    "
  />
}
