<div class="pt-4 flex-grow flex flex-col">
  <app-search-for-track (addTrack)="store.addTrackToPlaylist($event)" />
  <app-track-list
    (customTitleUpdated)="
      store.updateTrack($event.trackId, $event.newCustomTitle)
    "
    (tracksReordered)="
      store.reorderTracks($event.playlistId, $event.reorderedTracks)
    "
    (playlistRemoved)="store.removePlaylist()"
    (trackRemoved)="store.removeTrack($event)"
  />
  <div class="mb-24"></div>
  @if (store.tracks().length) {
    <div class="flex gap-2 mt-auto">
      <app-button
        message="open as deaf date"
        [routerLink]="['/encoded/' + store.playlistId()]"
      ></app-button>
      <app-button
        message="copy link"
        [isGrowing]="false"
        (click)="copyLink()"
      ></app-button>
    </div>
  }
</div>
