<div class="pt-4 flex-grow flex flex-col">
  <app-search-for-track (addTrack)="store.addTrackToPlaylist($event)" />
  <app-track-list
    (customTitleUpdated)="
      store.updateTrack($event.trackId, $event.newCustomTitle)
    "
    (tracksReordered)="
      store.reorderTracks($event.playlistId, $event.reorderedTracks)
    "
    (playlistRemoved)="store.removePlaylist()"
  />
  <div class="mb-24"></div>
  @if (store.tracks().length) {
    <div class="flex gap-2 mt-auto mb-2">
      <button
        size="s"
        tuiButton
        appearance="outline-grayscale"
        class="grow"
        [routerLink]="['/encoded/' + store.playlistId()]"
      >
        open as deaf date
      </button>
      <button
        size="s"
        tuiButton
        appearance="outline-grayscale"
        (click)="copyLink()"
      >
        copy link
      </button>
    </div>
  }
</div>
